# Gradle
.gradle/
**/build/
**/out/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Docker
.docker/

# Misc
node_modules/
